{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" id="maincontent">
        <div class="row">
            <!-- Patient Information -->
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <h2> Patient Information</h2>
              </h4>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h5 class="my-0">Patient ID</h5>
                  </div>
                  <input type="text" class="form-control" id="patient-id-input" placeholder="" required>
                </li>

                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h5 class="my-0">Name</h5>
                    <small>Will be automatically filled if exists</small>
                  </div>
                  <input type="text" class="form-control" id="patient-name-input" placeholder="" disabled>.
                </li>

                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h5 class="my-0">Surname</h5>
                    <small>Will be automatically filled if exists</small>
                  </div>
                  <input type="text" class="form-control" id="patient-surname-input" placeholder="" disabled>.
                </li>

                <li class="list-group-item d-flex justify-content-between bg-light">
                  <div>
                    <h5 class="my-0">Birth date</h5>
                    <small>Will be automatically filled if exists</small>
                  </div>
                  <input type="text" class="form-control" id="patient-birthday-input" placeholder="" disabled>.
                </li>
              </ul>
                <button class="btn btn-primary btn-sm btn-block" onclick="addResult()">See Results</button>

            </div>
            <!-- Patient Information ends-->

            <!-- Results -->
            <div class="col-md-7 order-md-3" id="Add result">
                <div>
                  <h2 class="mb-1">Laboratory Results</h2>
                    <form class="needs-validation" novalidate>
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                          <div class="row">
                            <div class="col-md-6 mb-auto">
                              <label for="pregnancies">Pregnancies</label>
                              <input type="number" min="0" class="form-control" id="pregnancies" placeholder="" value="" disabled>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-md-6 mb-auto">
                                <label for="glucose">Glucose</label>
                                <input type="number" min="0" class="form-control" id="glucose" placeholder="" value="" disabled>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-6 mb-auto">
                              <label for="blood pressure">Blood Pressure</label>
                              <div class="input-group">
                                <input type="number" min="0" class="form-control" id="blood pressure" placeholder="" disabled>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-6 mb-auto">
                              <label for="skin thickness">Skin Thickness</label>
                              <input type="number" min="0" class="form-control" id="skin thickness" placeholder="" disabled>
                            </div>
                          </div>
                        </div>
                          <div class="col-md-6 mb-auto">
                          <div class="row" >
                            <div class="col-md-6 mb-auto">
                              <label for="insulin">Insulin</label>
                              <input type="number" min="0" class="form-control" id="insulin" placeholder="" disabled>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-6 mb-auto">
                              <label for="BMI">BMI</label>
                              <input type="number" step="0.01" min="0" class="form-control" id="BMI" placeholder="" disabled>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-6 mb-auto">
                              <label for="diabetes pedigree">Diabetes Pedigree</label>
                              <input type="number" step="0.001" min="0" class="form-control" id="diabetes pedigree" placeholder="" disabled>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-6 mb-auto">
                              <label for="age">Age</label>
                              <input type="number" class="form-control" id="age" placeholder="" disabled>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                </div>
                <br>
                <div>
                    <h2 class="mb-1">Prediction</h2>
                    <p1 style="color: crimson;"><b>Result: %72.5 diabetes</b></p1>
                </div>
                <br>
                <div>
                    <h2 class="mb-1">Statistics</h2>
                    <p1>There will be some graphics about data and machine learning evaluation.</p1>
                    <img src="{% static 'images/featureimportance.png' %}"/>
                    <img src="{% static 'images/roc.png' %}"/>
                </div>
                <div>
                    <h2 class="mb-1">Past Diagnosis</h2>
                    <p1>There is no other diagnosis for that patient.</p1>
                </div>
                <br>
            </div>

            <!-- Prediction and Statistics -->

        </div>
    </div>


    <script>
        window.onload = function() {
            document.getElementById("Add result").style.visibility = 'hidden';
        }

        function addResult() {
            if(document.getElementById("patient-id-input").value == ''){
                alert('Please enter patient ID!');
                return false;  // stop submission until textbox is not ''
            }

            var value = Number(document.getElementById("patient-id-input").value);
            if(Math.floor(value) != value){
                alert('Please enter valid patient ID!');
                return false;  // stop submission until textbox is not ''
            }

            if(document.getElementById("patient-id-input").value == 123811827) { //if there is a valid id from database
                document.getElementById("Add result").style.visibility = "visible";
                document.getElementById("patient-name-input").value = "Alan";
                document.getElementById("patient-surname-input").value = "Turing";
                document.getElementById("patient-birthday-input").value = "23.06.1912"
                document.getElementById("pregnancies").value = "0"
                document.getElementById("glucose").value = "110"
                document.getElementById("blood pressure").value = "66"
                document.getElementById("skin thickness").value = "19"
                document.getElementById("insulin").value = "0"
                document.getElementById("BMI").value = "31.1"
                document.getElementById("diabetes pedigree").value = "0.966"
                document.getElementById("age").value = "30"
            }else{
                alert('There is no patient with this ID! Please enter a registered ID.');
                return false;  // stop submission until textbox is not ''
            }
        }

        function predictionAndStatistics(){
            document.getElementById("Prediction and Statistics").style.visibility = "visible";
        }

    </script>
{% endblock %}
