{% extends 'base.html' %}

{% block head %}
    <title>Doctor Home Page</title>
    <link rel="stylesheet" type="static/account/css" href="manager.css">
{% endblock %}

{% block content %}

    <div id="interest_tabs" class="container" style="width:800px; margin:0 auto;">
        <ul  class="nav nav-pills">
            <li class="active"><a  href="#1b" data-toggle="tab">See Past Patient Results</a></li>
            <li><a href="#2b" data-toggle="tab">See Patient Result</a></li>
            <li><a href="#3b" data-toggle="tab">See Patient Result</a></li>
            <li><a href="#4b" data-toggle="tab">Remove Employee</a></li>
        </ul>
    </div>

{% endblock %}