{% extends 'base.html' %}
{% load widget_tweaks %}

{% block head %}
    <title>Manager Home Page</title>
    <link rel="stylesheet" type="static/account/css" href="manager.css">

{% endblock %}

{% block content %}

    <div id="interest_tabs" class="container" style="width:800px; margin:0 auto;">
        <ul  class="nav nav-pills">
            <li class="active" ><a  href="#1b" data-toggle="tab">Employee Table</a></li>
            <li><a href="#2b" data-toggle="tab">Register New Employee</a></li>
            <li><a href="#3b" data-toggle="tab">Update Information</a></li>
            <li><a href="#4b" data-toggle="tab">Remove Employee</a></li>
        </ul>
    </div>
    <div class="col">
    <div class="row">
			<div class="tab-content clearfix">
			    <div class="tab-pane active" id="1b" method="get_queryset" style="width:1500px; margin:0 auto;">
                    <br>
                    <div id="1b" class="tab-pane">
                        <ul class="nav nav-tabs" id="all_tabs">
                            <li><a href="#all_popular" data-toggle="tab">Doctor Table</a></li>
                            <li><a href="#all_unique" data-toggle="tab">Lab Assistant Table</a></li>
                        </ul>
                    </div>
                </div>
                    <!--all tab content-->
                <div class="tab-content" >
                    <div id="all_popular" class="tab-pane" style="width:1500px; margin:0 auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Staff</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user_ in staff %}
                                    {% if user_.id != 1 %}
                                        <tr>
                                            <th scope="row">{{ user_.user_id }}</th>
                                            <td>{{ user_.user.first_name }}</td>
                                            <td>{{ user_.user.last_name }}</td>
                                            <td>{{ user_.staff }}</td>
                                            <td>{{ user_.description }}</td>
                                            <td>{{ user_.phonenumber }}</td>
                                            <td>{{ user_.user.email }}</td>
                                            <td>{{ user_.address }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="all_unique" class="tab-pane" style="width:1500px; margin:0 auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Staff</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user2 in staff2 %}
                                    {% if user_.id != 1 %}
                                        <tr>
                                            <th scope="row">{{ user2.user_id }}</th>
                                            <td>{{ user2.name }}</td>
                                            <td>{{ user2.surname }}</td>
                                            <td>{{ user2.staff }}</td>
                                            <td>{{ user2.description }}</td>
                                            <td>{{ user2.phone }}</td>
                                            <td>{{ user2.email }}</td>
                                            <td>{{ user2.address }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="2b" style="width:800px; margin:0 auto;">
                    <div class="form-group">
                    <form method="POST">
                    {% for field in form.visible_fields %}
                        {% csrf_token %}
                        {{ field.label_tag }}

                        {% if form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                    {% endfor %}
                    <input type="submit" value="submit">
                    </form>
                    </div>
                </div>

                <div class="tab-pane" id="3b" style="width:800px; margin:0 auto;">
                    <div class="form-group">
                        <form method="POST">
                            {% csrf_token %}
                            <label for="username_input">Username</label>
                            <input name="username_input" type="text" class="form-control input-sm" name="Username">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                    <h3>Update {{ username }}</h3>
                    <div class="form-group">
                        <form method="POST">
                            {% for field in update_form.visible_fields %}
                                {% csrf_token %}
                                {{ field.label_tag }}

                                {% if update_form.is_bound %}
                                  {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                      <div class="invalid-feedback">
                                        {{ error }}
                                      </div>
                                      {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                                {% else %}
                                {% render_field field class="form-control" %}
                                {% endif %}

                                {% if field.help_text %}
                                      <small class="form-text text-muted">{{ field.help_text }}</small>
                                 {% endif %}

                            {% endfor %}
                             <input type="submit" value="submit" class="btn btn-success">
                            </form>
                        </div>
                    </div>
                <div class="tab-pane" id="4b"  style="width:1500px; margin:0 auto;">
                    <h3>We use css to change the background color of the content to be equal to the tab</h3>
				</div>
			</div>
            </div>
        </div>
    </div>
</div>


        <script>
    $('#interest_tabs').on('click', 'a[data-toggle="tab"]', function(e) {
      e.preventDefault();

      var $link = $(this);

      if (!$link.parent().hasClass('active')) {

        //remove active class from other tab-panes
        $('.tab-content:not(.' + $link.attr('href').replace('#','') + ') .tab-pane').removeClass('active');

        // click first submenu tab for active section
        $('a[href="' + $link.attr('href') + '_all"][data-toggle="tab"]').click();

        // activate tab-pane for active section
        $('.tab-content.' + $link.attr('href').replace('#','') + ' .tab-pane:first').addClass('active');
      }

    });
    </script>

{% endblock %}

