{% extends 'base.html' %}

{% block content %}

<div class="container" id="maincontent">
    <div class="row">
        <!-- Employee Information -->
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <h2> Employee Information</h2>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">Employee ID</h5>
              </div>
              <span class="text-muted" id="employee-id"></span>
              <input type="text" class="form-control" id="employee-id-input" placeholder="" required>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">Name</h5>
                <small>Will be automatically filled if exists</small>
              </div>
              <span class="text-muted" id="employee-name"></span>
              <input type="text" class="form-control" id="employee-name-input" placeholder="" required>.
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">Surname</h5>
                <small>Will be automatically filled if exists</small>
              </div>
              <span class="text-muted" id="patient-surname"></span>
              <input type="text" class="form-control" id="employee-surname-input" placeholder="" required>.
            </li>

            <li class="list-group-item d-flex justify-content-between bg-light">
              <div>
                <h5 class="my-0">Birthday</h5>
                <small>Will be automatically filled if exists</small>
              </div>
              <span class="text-muted" id="employee-birthday"></span>
              <input type="date" class="form-control" id="employee-birthday-input" placeholder="" required>.
            </li>
          </ul>

            <button class="btn btn-primary btn-sm btn-block" onclick="registerEmployee()">Register new Employee</button>
            <button class="btn btn-primary btn-sm btn-block">Update Information</button>
            <button class="btn btn-primary btn-sm btn-block">Remove Employee</button>
        </div>
        <!-- Employee Information ends-->

        <!-- Register -->
        <div class="col-md-7 order-md-3">
            <div id="Register Employee">
              <h2 class="mb-1">Employee Registration Form</h2>
                <form class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-auto">
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                          <label for="Name">Name*</label>
                          <input type="text" id="Name" placeholder="Name" class="form-control" autofocus="" required>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-md-6 mb-auto">
                            <label for="Surname">Surname*</label>
                            <input type="text" id="Surname" placeholder="Surname" class="form-control" autofocus="" required>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                          <label for="email">E-mail*</label>
                          <input type="email" id="email" placeholder="Email" class="form-control" name="email" required>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                          <label for="password">Password* </label>
                          <input type="password" id="password" placeholder="Password" class="form-control" required>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                            <div class="input-group">
                                <label for="title">Title</label>
                                <div class="select-dropdown">
                                    <select name="subject" id="title">
                                        <option disabled="disabled" selected="selected">Choose option</option>
                                        <option>Doctor</option>
                                        <option>laboratory assistant</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-auto">
                      <div class="row" >
                        <div class="col-md-6 mb-auto">
                          <label for="confirmpassword">Confirm Password*</label>
                          <input type="password" id="confirmpassword" placeholder="Password" class="form-control" required>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                          <label for="birthDate">Birthdate</label>
                          <input type="date" id="birthDate" class="form-control" required>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                          <label for="phoneNumber">Phone Number</label>
                          <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                          <label for="username">Username*</label>
                          <input type="text" id="username" placeholder="Username" class="form-control" autofocus="" required>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6 mb-auto">
                            <div class="form-group">
                                <label>Gender</label>
                                <br>
                                <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" id="femaleRadio" value="Female">Female
                                            </label>
                                        </div>
                                <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" id="maleRadio" value="Male">Male
                                            </label>
                                        </div>
                            </div>
                        </div> <!-- /.form-group -->
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                  </div>
                  <div class="row">
                        <br>
                      <!-- TODO: center save button -->
                      <button class="btn btn-primary btn-lg btn-block" type="submit"> Save </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <script>
        window.onload = function() {
            document.getElementById("Register Employee").style.visibility = 'hidden';
            document.getElementById("employee-name-input").style.visibility = "hidden";
            document.getElementById("employee-surname-input").style.visibility = "hidden";
            document.getElementById("employee-birthday-input").style.visibility = "hidden";
            document.getElementById("employee-name").style.visibility = "hidden";
            document.getElementById("employee-surname").style.visibility = "hidden";
            document.getElementById("employee-birthday").style.visibility = "hidden";
        }

        function registerEmployee() {
            document.getElementById("employee-id-input").style.visibility = "hidden";
            document.getElementById("employee-id").style.visibility = "visible";
            document.getElementById("employee-id").innerText = "123811827";
            document.getElementById("Register Employee").style.visibility = 'visible';
            document.getElementById("employee-name").innerText = "Sherlock";
            document.getElementById("employee-surname").innerText = "Holmes";
            document.getElementById("employee-birthday").innerText = "06.01.1854";
            document.getElementById("employee-name-input").style.visibility = "visible";
            document.getElementById("employee-surname-input").style.visibility = "visible";
            document.getElementById("employee-birthday-input").style.visibility = "visible";

        }

    </script>
{% endblock %}

