{% extends 'base.html' %}

{% block head %}
    <title>Change Password</title>
{% endblock %}

<body>
{% block content %}
        <div class="container" style="width: 500px; position:relative; left:0px; top:80px;">
            <h2 style="position:relative; left:100px; top:0px">Change Password</h2>
            <br>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/bs4_form.html' with form=form %}
              <button type="submit" class="btn btn-primary" style="width:100px; position: relative; left: 190px">Submit</button>
            </form>
        </div>
{% endblock %}
</body>
