<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form method="post" name="form1">
    {% csrf_token %}
    {{ form.as_p }}
</form>
<form method="post" name="form2">
    {% csrf_token %}
    {{ additional.as_p }}
</form></body>
<button class="btn btn-primary" id="register" type="submit" style="width: 100px" onclick="submitForms()">Register</button>

<script>
        submitForms = function() {
            document.forms["form1"].submit();
            document.forms["form2"].submit();
            return true;
        }
    </script>
</html>